body {
    font-family: 'Lora';
    background: url('../img/fondoMain.jpg') repeat;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

h1 {
    font-weight: bold;
    /*text-shadow: 2px 2px 4px #93ef88; /* Añade sombra para remarcar el texto */
    color: black;
}

p {
    font-style: italic; /* Texto en cursiva */
    color: black;
}

.navbar {
    background-color: #4caf50; /* Un color verde similar al de la imagen */
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #388e3c; /* Un tono más oscuro de verde para resaltar */
    border-radius: 4px; /* Opcional: redondear bordes para mejor visualización */
}

.card-title {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.highlight-content .recipe, .highlight-content .news, .highlight-content .tips {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.highlight-content .recipe:hover, .highlight-content .news:hover, .highlight-content .tips:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.vh-30 {
    height: 30vh;
}

.vh-55 {
    height: 55vh;
}

.welcome-section {
    background: url('../img/fondoMain.jpg') repeat;
    color: white;
}

.bg-semitransparent {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
}

footer {
    background-color: #4caf50; /* Un color verde similar al de la imagen */
    color: white;
    text-align: center;
    padding: 20px;
}

.card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.mb-5 {
    margin-bottom: 5vh;
}

@media (max-width: 450px) {
    .vh-55 {
        height: auto;
    }

    .card {
        margin-bottom: 20px;
    }

    section.d-flex {
        flex-direction: column !important;
    }
}
