{% extends "logicaNegocio/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'logicaNegocio/css/stylePoliticas.css' %}">

<section class="privacy-policy container mt-5">
    <h1 class="text-center">Política de Privacidad</h1>
    <p>Última actualización: [23/06/2024]</p>

    <h2>1. Introducción</h2>
    <p>Bienvenido a Imcocina. Estamos comprometidos a proteger su privacidad y garantizar que su información personal se maneje de manera segura y responsable. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos su información personal.</p>

    <h2>2. Información que Recopilamos</h2>
    <p>Recopilamos los siguientes tipos de información personal:</p>
    <ul>
        <li><strong>Nombre:</strong> Para identificarle.</li>
        <li><strong>Apellido:</strong> Para identificarle.</li>
        <li><strong>Correo Electrónico:</strong> Para comunicarnos con usted y enviarle información relevante.</li>
        <li><strong>Contraseña:</strong> Para proteger su cuenta y garantizar su seguridad.</li>
    </ul>

    <h2>3. Cómo Utilizamos Su Información</h2>
    <p>Utilizamos su información personal para los siguientes fines:</p>
    <ul>
        <li><strong>Proveer Servicios:</strong> Utilizamos su información para proporcionar y gestionar los servicios que nos ha solicitado.</li>
        <li><strong>Comunicaciones:</strong> Utilizamos su correo electrónico para enviarle notificaciones importantes sobre su cuenta, actualizaciones y otra información relevante.</li>
        <li><strong>Seguridad:</strong> Utilizamos su contraseña para proteger su cuenta contra accesos no autorizados.</li>
    </ul>

    <h2>4. Compartir su Información</h2>
    <p>No compartimos su información personal con terceros, excepto en las siguientes circunstancias:</p>
    <ul>
        <li><strong>Proveedores de Servicios:</strong> Podemos compartir su información con proveedores de servicios que nos ayudan a operar nuestro sitio web y proporcionar nuestros servicios.</li>
        <li><strong>Requisitos Legales:</strong> Podemos divulgar su información si estamos obligados a hacerlo por ley o en respuesta a solicitudes válidas de autoridades públicas.</li>
    </ul>

    <h2>5. Seguridad de su Información</h2>
    <p>Implementamos medidas de seguridad técnicas y organizativas para proteger su información personal contra pérdida, robo y acceso no autorizado. Sin embargo, ninguna transmisión de datos por Internet es completamente segura, y no podemos garantizar la seguridad absoluta de su información.</p>

    <h2>6. Sus Derechos</h2>
    <p>Dependiendo de su ubicación, puede tener los siguientes derechos respecto a su información personal:</p>
    <ul>
        <li><strong>Acceso:</strong> Tiene derecho a solicitar acceso a la información personal que tenemos sobre usted.</li>
        <li><strong>Rectificación:</strong> Tiene derecho a solicitar que corrijamos cualquier información personal incorrecta o incompleta.</li>
        <li><strong>Eliminación:</strong> Tiene derecho a solicitar que eliminemos su información personal.</li>
        <li><strong>Restricción del Tratamiento:</strong> Tiene derecho a solicitar que limitemos el tratamiento de su información personal.</li>
        <li><strong>Portabilidad de los Datos:</strong> Tiene derecho a recibir su información personal en un formato estructurado, de uso común y lectura mecánica.</li>
    </ul>

    <h2>7. Cambios en esta Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Le notificaremos sobre cualquier cambio mediante la publicación de la nueva política en esta página. Le recomendamos que revise periódicamente esta Política de Privacidad para estar informado sobre cómo protegemos su información.</p>

    <h2>8. Contacto</h2>
    <p>Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, no dude en contactarnos en: +52 5542322253 +52 1 55 1347 0832 +52 1 55 2219 4227</p>
    <ul>
        <li><strong>Correo Electrónico:</strong> jiglesiasa1600@alumno.ipn.mx</li>
        <li><strong>Dirección:</strong> ESCOM IPN, Unidad Profesional Adolfo López Mateos, Av. Juan de Dios Bátiz, Nueva Industrial Vallejo, Gustavo A. Madero, 07320 Ciudad de México, CDMX</li>
    </ul>

    <h2>9. Aceptación de esta Política</h2>
    <p>Al utilizar nuestro sitio web, usted acepta esta Política de Privacidad. Si no está de acuerdo con esta política, por favor no utilice nuestro sitio.</p>
</section>
{% endblock %}
