{% extends "logicaNegocio/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'logicaNegocio/css/styleTerminos.css' %}">

<section class="terms-of-use container mt-5">
    <h1 class="text-center">Términos de Uso</h1>
    <p>Última actualización: 23/06/2024</p>

    <h2>1. Aceptación de los Términos</h2>
    <p>Al acceder y utilizar el sitio web de Imcocina, usted acepta cumplir con estos Términos de Uso y todas las leyes y regulaciones aplicables. Si no está de acuerdo con alguno de estos términos, le está prohibido utilizar o acceder a este sitio.</p>

    <h2>2. Uso del Sitio</h2>
    <p>Se le concede permiso para acceder temporalmente al sitio web de Imcocina para uso personal y no comercial. No debe:</p>
        <ul>
    <li>Modificar o copiar el material.</li>
    <li>Usar el material para cualquier propósito comercial o para cualquier exhibición pública.</li>
    <li>Intentar descompilar o aplicar ingeniería inversa a cualquier software contenido en el sitio web de Imcocina.</li>
    <li>Eliminar cualquier derecho de autor u otras anotaciones de propiedad de los materiales.</li>
    <li>Transferir los materiales a otra persona o "reflejar" los materiales en cualquier otro servidor.</li>
        </ul>
    
     <h2>3. Propiedad Intelectual</h2>
    <p>Todos los derechos de autor, marcas comerciales, patentes y otros derechos de propiedad intelectual en y sobre nuestro sitio web y todo el contenido y software ubicado en el sitio permanecerán como propiedad exclusiva de Imcocina o sus licenciantes. Se le permite utilizar este material solo como se autoriza expresamente por nosotros o nuestros licenciantes.</p>
            <h2>4. Limitación de Responsabilidad</h2>
        <p>El sitio web de Imcocina se proporciona "tal cual". Imcocina no ofrece garantías, expresas o implícitas, y por la presente renuncia a todas las demás garantías, incluidas, sin limitación, garantías implícitas o condiciones de comerciabilidad, idoneidad para un propósito particular o no infracción de la propiedad intelectual u otra violación de derechos. Además, Imcocina no garantiza ni hace ninguna representación con respecto a la precisión, los resultados probables o la fiabilidad del uso de los materiales en su sitio web o de otro modo relacionados con dichos materiales o en sitios vinculados a este sitio.</p>
    
        <h2>5. Enlaces a Otros Sitios Web</h2>
        <p>Nuestro sitio web puede contener enlaces a sitios web o servicios de terceros que no son propiedad ni están controlados por Imcocina. Imcocina no tiene control sobre, y no asume ninguna responsabilidad por, el contenido, las políticas de privacidad o las prácticas de los sitios web o servicios de terceros. Usted reconoce y acepta que Imcocina no será responsable, directa o indirectamente, de cualquier daño o pérdida causada o supuestamente causada por o en conexión con el uso o la confianza en dicho contenido, bienes o servicios disponibles en o a través de dichos sitios web o servicios.</p>
    
        <h2>6. Cambios en los Términos</h2>
        <p>Nos reservamos el derecho, a nuestra sola discreción, de modificar o reemplazar estos Términos en cualquier momento. Lo que constituye un cambio material se determinará a nuestra sola discreción. Al continuar accediendo o utilizando nuestro servicio después de que dichas revisiones entren en vigor, usted acepta estar sujeto a los términos revisados.</p>
    
        <h2>7. Ley Aplicable</h2>
        <p>Estos términos se regirán e interpretarán de acuerdo con las leyes de la Republica Mexicana, sin tener en cuenta sus disposiciones sobre conflictos de leyes.</p>
    
        <h2>8. Contacto</h2>
        <p>Si tiene alguna pregunta sobre estos Términos, por favor contáctenos en: +52 5542322253 +52 1 55 1347 0832 +52 1 55 2219 4227</p>
        <ul>
            <li><strong>Correo Electrónico:</strong> iglesiasa1600@alumno.ipn.mx</li>
            <li><strong>Dirección:</strong>ESCOM IPN, Unidad Profesional Adolfo López Mateos, Av. Juan de Dios Bátiz, Nueva Industrial Vallejo, Gustavo A. Madero, 07320 Ciudad de México, CDMX</li>
        </ul>
    </section>
    {% endblock %}
           