{% extends "logicaNegocio/base.html" %}

{% load static %}

{% block content %}

  <!-- Search and Recipe List -->
  <section class="page-section">
    <div class="container">
        <div class="content-container text-center mb-4">
            <h1 class="display-4">Encuentra las mejores recetas</h1>
            <p class="lead">Recetas a tu gusto, preferencia y dieta</p>
            <div class="search-bar-container">
                <div class="input-group mb-3 mx-auto" style="max-width: 600px;">
                    <input type="text" class="form-control" placeholder="Busca por ingredientes...">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button">Buscar Recetas</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Additional Sections -->
        <div class="content-container text-center mb-4">
            <h1 class="display-4">Recetas Populares</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-box">
                        <img src="{% static 'logicaNegocio/img/recetas_populares.jpg' %}" alt="Recetas populares" class="info-img">
                        <h4>Receta 1</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <img src="{% static 'logicaNegocio/img/recetas_populares.jpg' %}" alt="Recetas populares" class="info-img">
                        <h4>Receta 2</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-box">
                        <img src="{% static 'logicaNegocio/img/recetas_populares.jpg' %}" alt="Recetas populares" class="info-img">
                        <h4>Receta 3</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

{% endblock %}
