{% extends "logicaNegocio/base.html" %}
{% load static %}

{% block content %}
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<section class="container">
    <div class="vh-5"></div>

    <!-- Sección Buscador -->
    <div class="text-center d-flex flex-column justify-content-center align-items-center vh-30 welcome-section bg-light mt-5">
        <div class="card bg-semitransparent">
            <div class="card card-body">
                <h1>Bienvenido a IMCOCINA</h1>
                <p>Encuentra recetas deliciosas y saludables con los ingredientes que tienes en casa.</p>
                <form id="search-form" method="GET" action="">
                    <div class="input-group mb-3 justify-content-center">
                        <input type="text" name="ingredientes" class="form-control col-md-6" placeholder="Busca por ingredientes...">
                        <div class="input-group-append">
                            <button id="search-button" class="btn btn-dark" type="submit">Buscar Recetas</button>
                        </div>
                    </div>
                    
                    <!-- Botón para mostrar/ocultar filtros -->
                    <button type="button" id="toggle-filters-button" class="filter-button">Mostrar/Ocultar Filtros</button>
                    
                    <!-- Filtros -->
                    <div class="filter-container" style="display: none;">
                        <div class="filter-buttons">
                            <div class="filter-button-container">
                                <button type="button" class="filter-button" id="diet-button">Dieta</button>
                                <div class="filter-options">
                                    <select class="form-control" id="diet" name="diet">
                                        <option value="">Seleccionar</option>
                                        <option value="balanced">Equilibrada</option>
                                        <option value="high-fiber">Alta en fibra</option>
                                        <option value="high-protein">Alta en proteínas</option>
                                        <option value="low-carb">Baja en carbohidratos</option>
                                        <option value="low-fat">Baja en grasas</option>
                                        <option value="low-sodium">Baja en sodio</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="filter-button-container">
                                <button type="button" class="filter-button" id="health-button">Salud</button>
                                <div class="filter-options">
                                    <select class="form-control" id="health" name="health">
                                        <option value="">Seleccionar</option>
                                        <option value="alcohol-cocktail">Cóctel con alcohol</option>
                                        <option value="alcohol-free">Sin alcohol</option>
                                        <option value="celery-free">Sin apio</option>
                                        <option value="crustacean-free">Sin crustáceos</option>
                                        <option value="dairy-free">Sin lácteos</option>
                                        <option value="DASH">DASH</option>
                                        <option value="egg-free">Sin huevo</option>
                                        <option value="fish-free">Sin pescado</option>
                                        <option value="fodmap-free">Sin FODMAP</option>
                                        <option value="gluten-free">Sin gluten</option>
                                        <option value="immuno-supportive">Inmuno-apoyo</option>
                                        <option value="keto-friendly">Keto</option>
                                        <option value="kidney-friendly">Amigable para riñones</option>
                                        <option value="kosher">Kosher</option>
                                        <option value="low-fat-abs">Bajo en grasas</option>
                                        <option value="low-potassium">Bajo en potasio</option>
                                        <option value="low-sugar">Bajo en azúcar</option>
                                        <option value="lupine-free">Sin altramuz</option>
                                        <option value="Mediterranean">Mediterránea</option>
                                        <option value="mollusk-free">Sin moluscos</option>
                                        <option value="mustard-free">Sin mostaza</option>
                                        <option value="no-oil-added">Sin aceite añadido</option>
                                        <option value="paleo">Paleo</option>
                                        <option value="peanut-free">Sin maní</option>
                                        <option value="pescatarian">Pescatariana</option>
                                        <option value="pork-free">Sin cerdo</option>
                                        <option value="red-meat-free">Sin carne roja</option>
                                        <option value="sesame-free">Sin sésamo</option>
                                        <option value="shellfish-free">Sin mariscos</option>
                                        <option value="soy-free">Sin soya</option>
                                        <option value="sugar-conscious">Consciente del azúcar</option>
                                        <option value="sulfite-free">Sin sulfitos</option>
                                        <option value="tree-nut-free">Sin frutos secos</option>
                                        <option value="vegan">Vegana</option>
                                        <option value="vegetarian">Vegetariana</option>
                                        <option value="wheat-free">Sin trigo</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="filter-button-container">
                                <button type="button" class="filter-button" id="dishType-button">Tipo de plato</button>
                                <div class="filter-options">
                                    <select class="form-control" id="dishType" name="dishType">
                                        <option value="">Seleccionar</option>
                                        <option value="Breakfast">Desayuno</option>
                                        <option value="Dinner">Cena</option>
                                        <option value="Lunch">Almuerzo</option>
                                        <option value="Snack">Merienda</option>
                                        <option value="Teatime">Hora del té</option>
                                    </select>
                                </div>
                            </div>

                            <div class="filter-button-container">
                                <label for="time" class="filter-button">Tiempo</label>
                                <input type="text" class="form-control" id="time" name="time" placeholder="Ejemplo: 10-30">
                            </div>
                        </div>
                        <div class="filter-calories">
                            <div class="filter-button-container">
                                <label for="calories" class="filter-button">Calorías</label>
                                <div id="calories-values" class="range-values">
                                    <span id="calories-min">0 calorías</span>
                                    <span id="calories-max">2000 calorías</span>
                                </div>
                                <div id="calories-slider" class="range-slider"></div>
                                <!-- Campos ocultos para las calorías -->
                                <input type="hidden" id="calories-min-input" name="calories_min">
                                <input type="hidden" id="calories-max-input" name="calories_max">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <h6 style="color: black;"><b>Se recomienda tener al menos 3 ingredientes y 15 minutos de tiempo disponibles.</b></h6>
            </div>
        </div>
    </div>
    
    
    <!-- Resultados de búsqueda -->
    <div class="vh-5"></div>
    <div class="row mt-4 d-flex">
        <div class="col-md-12 d-flex flex-column">
            <section class="carrito card mb-4 rounded bg-white-transparent flex-grow-1">
                <div class="card-body text-center">
                    <h5 class="card-title">Recetas Populares</h5>
                    <div class="row justify-content-center">
                        {% for receta in recetas %}
                            <div class="col-md-4 d-flex">
                                <div class="recipe card mb-3 flex-fill">
                                    <img src="{{ receta.imagen }}" class="card-img-top" alt="{{ receta.nombre }}">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="card-titulo">{{ receta.nombre }}</h5>
                                        <p>Calorías: {{ receta.calorias|floatformat:0 }}</p>
                                        <p>Información Nutricional:</p>
                                        <ul>
                                            {% if receta.nutrientes %}
                                                {% for key, value in receta.nutrientes.items %}
                                                    <li>{{ key }}: {{ value.quantity|floatformat:2 }} {{ value.unit }}</li>
                                                {% endfor %}
                                            {% else %}
                                                <li>Información no disponible</li>
                                            {% endif %}
                                        </ul>
                                        <a href="{{ receta.link }}" target="_blank" class="btn btn-primary mt-auto">Ver receta</a>
                                        {% if user.is_authenticated %}
                                        <form class="fav-form" data-receta-id="{{ receta.link }}" data-receta-titulo="{{ receta.nombre }}" data-receta-imagen="{{ receta.imagen }}">
                                            <div class="form-check mt-2">
                                                <input type="checkbox" class="form-check-input favorito-checkbox" {% if receta.link in favoritos_ids %}checked{% endif %}>
                                                <label class="form-check-label">Favorito</label>
                                            </div>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}
