{% extends "logicaNegocio/base.html" %}

{% block content %}
<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-25">
        <div class="card-body">
            <h2 class="card-title text-center">Restablecer Contraseña</h2>
            <form method="post" action="{% url 'usuario:Password' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar Enlace de Restablecimiento</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
