{% extends "usuario/base.html" %}

{% load static %}

{% block content %}

<div class="container bf w-75 mt-5 rounded shadow">
    <h1 class="fw-bold text-center py-5 text-white">Restablecer Contraseña</h1>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-2 mb-2">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <form action="{% url 'usuario:Password' uidb64=uid token=token %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="mb-4">
            <label for="password" class="form-label text-white">Nueva Contraseña</label>
            <input type="password" class="form-control" name="password" placeholder="Ingresa tu nueva contraseña" required>
            <small class="text-white-50">La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.</small>
        </div>
        <div class="mb-4">
            <label for="password_confirm" class="form-label text-white">Confirmar Nueva Contraseña</label>
            <input type="password" class="form-control" name="password_confirm" placeholder="Confirma tu nueva contraseña" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-dark">Restablecer Contraseña</button>
        </div>
    </form>
</div>

{% endblock %}
