{% extends "usuario/base.html" %}

{% load static %}

{% block content %}
<div class="position-fixed top-0 end-0 m-3">
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'usuario:Logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
        </form>
    {% endif %}
</div>

<div class="container bf w-75 text-body mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col ig d-none d-md-block d-lg-block rounded-start">
            <!-- Aquí puedes agregar una imagen o algún contenido adicional -->
        </div>
        <div class="col">
            <h2 class="fw-bold text-white text-center py-5">Perfil del Usuario</h2>
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="mb-4">
                    <label class="form-label text-white">Nombre:</label>
                    <p class="form-control">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="mb-4">
                    <label class="form-label text-white">Correo Electrónico:</label>
                    <p class="form-control">{{ user.email }}</p>
                </div>
                <div class="d-grid mb-3">
                    <a href="{% url 'usuario:UpdatePerfil' %}" class="btn btn-primary">Actualizar Perfil</a>
                </div>
            {% else %}
                <div class="alert alert-warning">No has iniciado sesión. <a href="{% url 'usuario:Login' %}">Inicia sesión aquí</a>.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
