{% extends "usuario/base.html" %}

{% load static %}

{% block content %}

<div class="container bf w-75 text-body mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col">
            <h2 class="fw-bold text-white text-center py-5">Mis Recetas Favoritas</h2>
            {% if favoritas %}
                <div class="row">
                    {% for favorita in favoritas %}
                        <div class="col-md-4 d-flex">
                            <div class="card mb-3 flex-fill info-box">
                                <img src="{{ favorita.img }}" class="card-img-top info-img" alt="{{ favorita.titulo }}">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-titulo">{{ favorita.titulo }}</h5>
                                    <a href="{{ favorita.url_id_receta }}" target="_blank" class="btn btn-primary mt-auto">Ver receta</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info">No tienes recetas favoritas guardadas.</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
