/* styleBase.css */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lora';
    background: url('../img/fondoMain.jpg') repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}

h1 {
    font-weight: bold;
    color: black;
}

p {
    font-style: italic;
    color: rgb(255, 255, 255);
}

.navbar {
    background-color: #4caf50;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-nav .nav-item.active .nav-link {
    background-color: #388e3c;
    border-radius: 4px;
}

.card-title {
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.highlight-content .recipe, .highlight-content .news, .highlight-content .tips {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.highlight-content .recipe:hover, .highlight-content .news:hover, .highlight-content .tips:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.vh-30 {
    height: 30vh;
}

.vh-55 {
    height: 55vh;
}

.welcome-section {
    background: url('../img/fondoMain.jpg') repeat;
    color: white;
}

.bg-semitransparent {
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
}

.card {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.mb-5 {
    margin-bottom: 5vh;
}

@media (max-width: 450px) {
    .vh-55 {
        height: auto;
    }

    .card {
        margin-bottom: 20px;
    }

    section.d-flex {
        flex-direction: column !important;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
}

/* Ajustes adicionales para asegurar que las secciones no se solapen */
.row {
    margin-bottom: 2rem;
}

/* Añadir márgenes y padding para mayor separación */
.row > .col-md-4 {
    padding: 20px;
}

.article {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .article {
        margin-bottom: 40px;
    }
}

/* Estilos para el título de la sección de información adicional */
.additional-info-title {
    margin-bottom: 2rem;
}

.additional-info-title h3 {
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para la lista de noticias */
.list-news {
    list-style-type: none;
    padding: 0;
}

.list-news .news-item {
    margin-bottom: 20px;
}

/* Estilos personalizados para los botones redondeados */
.btn-custom {
    border-radius: 25px; /* Ajusta el radio de borde para que los botones sean más redondeados */
    background-color: #6c757d; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: 1px solid #6c757d; /* Borde del botón */
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves para los cambios de color */
}

.btn-custom:hover {
    background-color: #5a6268; /* Color de fondo al pasar el cursor */
    color: white; /* Color del texto al pasar el cursor */
}

.d-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.d-grid > .btn-container {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
}

@media (max-width: 576px) {
    .d-grid {
        flex-direction: column;
    }

    .d-grid > .btn-container {
        max-width: 100%;
    }
}
